{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
  <div class>
    <h1 class="h2"><i class="bi bi-motherboard-fill me-2"></i>品番登録</h1>
  </div>
  <div class="card mb-4">
    <div class="card-header py-3">
      <h2 class="m-0 h4">品番登録</h2>
    </div>
    <div id="item_register" class="card-body row gx-5">
      <div class="col-md-6">
        <div class="mb-3">
          <label>品番</label>
          <input
            id="item_no"
            data-id="item_no"
            class="form-control"
            placeholder="品番"
            maxlength="50"
            type="text"
          />
        </div>
        <div class="mb-3">
          <label>品名</label>
          <input
            id="item_name"
            data-id="item_name"
            class="form-control"
            placeholder="品名"
            maxlength="50"
            type="text"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <label>単価</label>
          <input
            id="item_price"
            data-id="item_price"
            class="form-control"
            placeholder="単価"
            maxlength="50"
            type="number"
          />
        </div>
        <div class="content h-50 d-flex align-items-center">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="item_deleted"
              data-id="item_deleted"
            />
            <label class="form-check-label" for="item_deleted"> 廃番 </label>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center gap-4 py-3">
      <button id="save_btn" class="btn btn-primary btn-lg px-5">登録</button>
      <button id="delete_btn" class="btn btn-danger btn-lg px-5">削除</button>
    </div>
  </div>
  <div class="card">
    <div class="card-header py-3">
      <h2 class="m-0 h4">品番一覧</h2>
    </div>
    <div class="card-body">
      <table
        id="item_table"
        class="table table-dark table-striped table-hover w-100"
      >
        <thead>
          <tr>
            <th>品番</th>
            <th>品名</th>
            <th>単価</th>
            <th>廃番</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
          <tr>
            <td>{{ item.item_no }}</td>
            <td>{{ item.item_name }}</td>
            <td>{{ item.item_price }}</td>
            <td>{{ item.item_deleted }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %} {% block extra_js %}
<script>
  $(document).ready(function () {
    const url = "{% url 'item_register' %}";
    const table = new DataTable("#item_table", {
      ajax: {
        url: url,
        type: "POST",
        data: {
          kubun: "get_item",
        },
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
      },
      columns: [
        { data: "item_no" },
        { data: "item_name" },
        { data: "item_price" },
        {
          data: "item_deleted",
          className: "text-center",
          render: function (data) {
            switch (data) {
              case true:
                return '<i class="bi bi-check-lg"></i>';
              default:
                return "";
            }
          },
        },
      ],
      language: {
        url: "https://cdn.datatables.net/plug-ins/1.13.7/i18n/ja.json",
      },
    });

    //登録ボタンを押した時の処理
    $("#save_btn").on("click", function () {
      let fields = {};

      $("#item_register")
        .find("input")
        .each(function () {
          switch ($(this).attr("type")) {
            case "checkbox":
              fields[$(this).data("id")] = $(this).prop("checked");
              break;
            default:
              fields[$(this).data("id")] = $(this).val();
          }
        });
      console.log(fields);

      for (const check in fields) {
        if (fields[check] === "") {
          alert("未記入の項目があります。");
          return;
        }
      }

      $.ajax({
        url: url,
        type: "POST",
        data: {
          fields: JSON.stringify(fields),
          kubun: "save_item",
        },
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
      }).done(function (response) {
        // 成功失敗関係なく、テーブル情報を最新にする
        table.ajax.reload();
        // 成功の場合
        if (response.status == "success") {
          // 成功の場合入力フィールドを空にする。
          $("#item_no").val("");
          $("#item_name").val("");
          $("#item_price").val("");
          $("#item_deleted").prop("checked", false);
          alert("品番" + response.message + "の登録に成功しました。");

          //重複の場合
        } else if (response.status == "error_duplicate") {
          alert("品番" + response.message + "が重複しています。");
          //その他の失敗の場合
        } else {
          alert("無効なリクエストです。");
        }
      });
    });

    //削除ボタンを押した時の処理
    $("#delete_btn").on("click", function () {
      const fields = {
        item_no: $("#item_no").val(),
      };
      console.log(fields);
      $.ajax({
        url: url,
        type: "POST",
        data: {
          fields: JSON.stringify(fields),
          kubun: "delete_item",
        },
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
      }).done(function (response) {
        // 成功失敗関係なく、テーブル情報を最新にする
        table.ajax.reload();
        if (response.status == "success") {
          // 成功の場合入力フィールドを空にする。
          $("#item_no").val("");
          $("#item_name").val("");
          $("#item_price").val("");
          alert("品番" + response.message + "の削除に成功しました。");
          //品番がない場合
        } else if (response.status == "error_nai") {
          alert("品番" + response.message + "がありません。");
        } else {
          alert("無効なリクエストです。");
        }
      });
    });
  });
</script>
{% endblock extra_js %}
